@import "../../styles/variables";

header {
  // box-shadow: 0 0 5px $lightModeInput;

  padding: 1rem;

  h1 {
    font-size: 2rem;
  }

  p {
    text-align: right;
  }
  
  .moon-icon {
    margin-right: 1rem;
    font-size: 30px;
    transform: rotate(-30deg);
  }

  .theme-toggle {
    display: flex;
    align-items: center;
  }
}

// Light Mode Styles
body {
  background: $lightModeBg;

  header {
    box-shadow: 0 0 5px $lightModeInput;
    background: $white;
  }

  h1 {
    color: green;
  }
}

// Dark Mode Styles
body.dark-mode {
  background: blue;

  h1 {
    color: white;
  }
}
